@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Lato:wght@300&family=Oswald:wght@300&family=Quicksand:wght@300&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.nav-links {

    display: flex;
    float: right;
    padding-right: 50px;
    padding-top: 20px;
    list-style: none;
    font-weight: bold;
    font-family: Oswald;
    text-transform: uppercase;
}

.nav-links ul {
    display: inline-flex;
    margin: 20px;
    padding: 10px;
}

.nav-links a {
    margin: 4px;
    padding: 4px;
    text-decoration: none;
    color: #fff;
    font-family: Quicksand;
}

.nav-links a:hover {
    color: red;
    transition: 1s;
    opacity: 1;
}

body {
    background-image: linear-gradient(to right, rgb(90, 90, 90), rgb(0, 0, 0));
}

#twentyfour {
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(90, 90, 90));
    font-family: Quicksand;
    text-transform: uppercase;
    color: #fff;
    border-radius: 30%;
    display: block;
    padding: 50px;
    width: fit-content;
    margin: auto;
    margin-bottom: 10px;
    border: 1px solid #fff;

}

#twentyfour ul {
    list-style: none;
}

button {
    color: black;
    font-size: 24px;
    font-family: Oswald;
    letter-spacing: 3px;


}

button:hover {
    color: green;
}



#twelve {
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(90, 90, 90));
    font-family: Quicksand;
    text-transform: uppercase;
    color: #fff;
    border-radius: 30%;
    display: block;
    padding: 50px;
    width: fit-content;
    margin: auto;
    margin-bottom: 10px;
    border: 1px solid #fff;

}

#twelve ul {
    list-style: none;
}



#six {
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(90, 90, 90));
    font-family: Quicksand;
    text-transform: uppercase;
    color: #fff;
    border-radius: 30%;
    display: block;
    padding: 50px;
    width: fit-content;
    margin: auto;
    margin-bottom: 10px;
    border: 1px solid #fff;

}

#six ul {
    list-style: none;
}



#three {
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(90, 90, 90));
    font-family: Quicksand;
    text-transform: uppercase;
    color: #fff;
    border-radius: 30%;
    display: block;
    padding: 50px;
    width: fit-content;
    margin: auto;
    margin-bottom: 10px;
    border: 1px solid #fff;

}

#three ul {
    list-style: none;
}



#under {
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(90, 90, 90));
    font-family: Quicksand;
    text-transform: uppercase;
    color: #fff;
    border-radius: 30%;
    display: block;
    padding: 50px;
    width: fit-content;
    margin: auto;
    margin-bottom: 10px;
    border: 1px solid #fff;

}

#under ul {
    list-style: none;
}

#info-pay {
    border: 1px solid #fff;
    display: inline-block;
    width: 370px;
    height: 200px;
    border-radius: 10px 10px 10px 10px;
    margin-left: 20px;
    margin-top: 20px;
}

#info-pay h1 {
    color: red;
    font-family: Quicksand;
    text-transform: uppercase;
    text-shadow: 2px 2px 5px #fff;
    text-align: center;

}

#info-pay p {
    color: #fff;
    font-family: Quicksand;
    text-align: center;

}

#cards {

    display: inline-block;
    margin-top: 20px;
    margin-left: 20%;
    font-size: 40px;
    color: #fff;

}


#info-pay:hover {
    background-image: linear-gradient(to right, rgb(100, 100, 100), rgb(5, 5, 5));

}

#footer {
    font-family: Quicksand;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}



#mail {
    text-shadow: 2px 2px 5px #fff;
    color: red;
    text-decoration: none;
    width: 200px;
    transition: transform .2s;
}

#mail:hover {
    text-shadow: none;
    color: #fff;
}

#mailzoom:hover {
    transform: scale(1.5);
}

/* for medium screen sizes from 420px wide and down */
@media screen and (max-width: 420px) {
    #nav-links {
        float: left;
        clear: left;

    }

    #header {
        width: fit-content;
    }

    #info-pay {
   
        width: fit-content;
    }

    #cards {
        width: fit-content;
        display: flex;
        text-align: center;
        letter-spacing: 2px;
    }

}






